.nav-list {
    font-size: 0;
    white-space: nowrap;
    font-family: sans-serif;
}

.list-item {
    background-color: orangered;
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    color: white;
    position: relative;
}

.link {
    color: inherit;
    text-decoration: none;
    
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.link:hover {
    background-color: #8a2d0f;
}
.sub-nav-list {
    position: absolute;
    left: 0;
    display: none;
}

.sub-list-item {
    display: block;
}
.list-item:hover >.sub-nav-list {
    display: block;
}