 .body {
    border: 6px;
    border-style: dashed;
    border: firebrick;

 }
 .Title {
    text-align: left; 
    color: cadetblue;
    i

 }

 .portrait_img {
    float: left;

    width: 240px;

 } 
 .info {
    text-align: left; 
    height:60px;

} 